<div class="w-full p-4 font-mono text-white bg-neutral fixed text-3xl flex justify-around z-50 mb-5">
    <%= link_to "G A L L E R Y", root_path, class: "font-mono"%>
</div>
<div class="h-16 w-full"></div>
